<h2>More Information, Damn your nosy</h2>

<form action="/about/thank_you">
	
<p>What's your name punk?</p>
<input id="full_name" name="full_name" type="text"/>

<p>What is your favorite color? <i>(Like I give a crap)</i></p>
<select id="color" name="color">
	<option value="red">Red</option>
	<option value="blue">Blue</option>
	<option value="green">Green</option>
</select>

<p>Thanks for your stupid ideas!!!</p>

<input name="commit" type="submit" value="Submit"/>

</form>	