<h2 style="color: <%= @color %>">Thanks oh soooo much!</h2>
<p>Thanks for opening your big mouth again, <%= @full_name %>! We can take this info about you and add it to your file</p>
<p>Bye-bye now....</p>